@import "./base.css";
body {
	overflow: hidden;
}
.fade-enter-active {
	transition: all 0.15s ease-out;
}

.fade-leave-active {
	transition: all 0.15s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
.form {
	min-width: 340px;
	width: 90%;
	max-height: 600px;
	height: 90%;
	display: flex;
	flex-direction: column;
}
.form-wrapper {
	display: flex;
	flex: 1;
	align-self: stretch;
	justify-content: center;
	align-items: center;
}
.form-header {
	display: flex;
	flex-direction: column;
	margin: 25px 10px;
}
.form-title {
	font-size: 46px;
	font-weight: bold;
}
.form-subtitle {
	font-size: 19px;
	opacity: 0.84;
}
.text-link {
	color: var(--color-text);
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.84;
	transition: opacity 0.15s;
}
.text-link:hover {
	opacity: 0.57;
}
.text-link:active {
	opacity: 0.4;
}
.left-pane {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-self: stretch;
	flex: 1;
	background-color: var(--color-primary);
}
.logo-title {
	font-size: 38px;
	font-weight: bold;
}
